DATA_DIR={{ workspace_notes_container_data_dir }}
HOST={{ workspace_notes_listen_address }}
PORT={{ workspace_notes_container_port }}
NUXT_AUTH_ORIGIN=https://{{ workspace_notes_domain_name }}
NUXT_AUTH_SECRET={{ workspace_notes_auth_secret }}
GOOGLE_CLIENT_ID={{ workspace_notes_google_client_id }}
GOOGLE_CLIENT_SECRET={{ workspace_notes_google_client_secret }}
NUXT_PUBLIC_GOOGLE_SIGN_IN_ENABLED={{ (workspace_notes_google_client_id | length > 0 and workspace_notes_google_client_secret | length > 0) | ternary('true', 'false') }}
{% for variable_name, variable_value in workspace_notes_extra_environment.items() %}
{{ variable_name }}={{ variable_value }}
{% endfor %}
